cache-annotation/src/main/resources/META-INF/easyCache.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.enjoy.cn/schema/easyCache"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.enjoy.cn/schema/easyCache"
 elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="easyCache">
		<xsd:complexType>
			<xsd:attribute name="cacheNames" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="value" type="xsd:string"></xsd:attribute>
			<xsd:attribute name="expire" type="xsd:integer"></xsd:attribute>
			<xsd:attribute name="key" type="xsd:string"></xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>